body {
    font-family: 'Ubuntu Sans Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-brand {
    font-size: 1.25rem;
}
.nav-item a {
    font-size: 1rem;
}

.letra a{
    font-size: 20px;
    font-weight: bold;
}

.letra a:hover{
    color: #d9a407;
    background-color: transparent;
}

.container{
    margin-top: 10px;
}

/* Separacion */ 

.profile-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 20px;
}
h2 {
    font-size: 2rem;
}

.bg-dark {
    background-color: #000000 !important;
}
